
<div class="page">
  <div class="tag">About</div>
  <article>
    <h2>Since our inception, Hunter & Thompson has been totally focused on building a strategic, quality search practice.</h2>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors.</p>
    <div class="partner"><img src="http://fillmurray.com/200/200" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/200/200" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/200/200" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
  </article>
</div>