
<div class="page">
  <div class="tag">Testemonials</div>
  <article class="testemonials">
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="partner"><img src="http://fillmurray.com/220/220" alt=""/>
      <h4 class="name">Crystal Hunter</h4>
      <h4 class="role">Partner</h4><a href="#">🐼</a><a href="#">🔔</a>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <h4>Clients</h4>
    <hr/>
    <p>auto sliding belt of clients and their logos</p>
  </article>
</div>